In [1]:
import pandas as pd
import numpy as np

In [2]:
# herramienta para trabjar los DataFrames como hojas de excel
# pip install mitoinstaller
import mitosheet

In [3]:
amazon = pd.read_csv(r'amazon_prime_titles-score.csv')
disney = pd.read_csv(r'disney_plus_titles-score.csv')
hulu = pd.read_csv(r'hulu_titles-score (2).csv')
netflix = pd.read_csv(r'netflix_titles-score.csv')

In [4]:
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,20
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",27
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,75

In [5]:
amazon['show_id']= amazon['show_id'].astype('str')
amazon['type']= amazon['type'].astype('str')
amazon['title']= amazon['title'].astype('str')
amazon['director']= amazon['director'].astype('str')
amazon['cast']= amazon['cast'].astype('str')
amazon['country']= amazon['country'].astype('str')
amazon['date_added']= pd.to_datetime(amazon['date_added'], infer_datetime_format=True, errors= 'coerce')
amazon['release_year'] = amazon['release_year'].astype('int16')
amazon['rating'] = amazon['rating'].astype('str')
amazon['listed_in'] = amazon['listed_in'].astype('str')
amazon['description'] = amazon['description'].astype('str')
amazon['score'] = amazon['score'].astype('int8')

In [6]:
amazon['id'] = 'a' + amazon['show_id']
amazon['id'] = amazon['id'].astype('str')

In [7]:
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,nan,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2021-03-30,2017,nan,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,20,as3
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,2021-03-30,2014,nan,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",27,as4
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,2021-03-30,1989,nan,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,75,as5

In [8]:
disney['show_id'] = disney['show_id'].astype('str')
disney['type'] = disney['type'].astype('category')
disney['title'] = disney['title'].astype('str')
disney['director'] = disney['director'].astype('str')
disney['cast'] = disney['cast'].astype('str')
disney['country'] = disney['country'].astype('str')
disney['date_added'] = pd.to_datetime(disney['date_added'], infer_datetime_format=True, errors='coerce')
disney['release_year'] = disney['release_year'].astype('int16')
disney['rating'] = disney['rating'].astype('str')
disney['listed_in'] = disney['listed_in'].astype('str')
disney['description'] = disney['description'].astype('str')
disney['score'] = disney['score'].astype('int8')

In [9]:
disney['id'] = 'd' + disney['show_id']
disney['id'] = disney['id'].astype('str')

In [10]:
hulu['show_id'] = hulu['show_id'].astype('str')
hulu['type'] = hulu['type'].astype('category')
hulu['title'] = hulu['title'].astype('str')
hulu['director'] = hulu['director'].astype('str')
hulu['cast'] = hulu['cast'].astype('str')
hulu['country'] = hulu['country'].astype('str')
hulu['date_added'] = pd.to_datetime(hulu['date_added'], infer_datetime_format=True, errors='coerce')
hulu['release_year'] = hulu['release_year'].astype('int16')
hulu['rating'] = hulu['rating'].astype('str')
hulu['listed_in'] = hulu['listed_in'].astype('str')
hulu['description'] = hulu['description'].astype('str')
hulu['score'] = hulu['score'].astype('int8')

In [11]:
hulu['id'] = 'h' + hulu['show_id']
hulu['id'] = hulu['id'].astype('str')

In [12]:
netflix['show_id'] = netflix['show_id'].astype('str')
netflix['type'] = netflix['type'].astype('category')
netflix['title'] = netflix['title'].astype('str')
netflix['director'] = netflix['director'].astype('str')
netflix['cast'] = netflix['cast'].astype('str')
netflix['country'] = netflix['country'].astype('str')
netflix['date_added'] = pd.to_datetime(netflix['date_added'], infer_datetime_format=True, errors='coerce')
netflix['release_year'] = netflix['release_year'].astype('int16')
netflix['rating'] = netflix['rating'].astype('str')
netflix['listed_in'] = netflix['listed_in'].astype('str')
netflix['description'] = netflix['description'].astype('str')
netflix['score'] = netflix['score'].astype('int8')

In [13]:
hulu['rating'].head()

0    TV-MA
1      nan
2    PG-13
3        R
4      nan
Name: rating, dtype: object

In [14]:
netflix['id'] = 'n' + netflix['show_id']
netflix['id'] = netflix['id'].astype('str')

In [15]:
amazon['rating'] = amazon['rating'].replace("nan", 'G')
disney['rating'] = disney['rating'].replace("nan", 'G')
hulu['rating'] = hulu['rating'].replace("nan", 'G')
netflix['rating'] = netflix['rating'].replace("nan", 'G')

In [16]:
hulu['rating'].head()

0    TV-MA
1        G
2    PG-13
3        R
4        G
Name: rating, dtype: object

In [17]:
amazon[['duration_int', 'duration_type']] = amazon['duration'].str.split(' ', n=-1, expand=True, regex=None)
amazon = amazon[amazon.columns[:10].tolist() + ['duration_int', 'duration_type'] + amazon.columns[10:-2].tolist()]

amazon[['duration_int', 'duration_type']].head()

  duration_int duration_type
0          113           min
1          110           min
2           74           min
3           69           min
4           45           min

In [18]:
disney[['duration_int', 'duration_type']] = disney['duration'].str.split(' ', n=-1, expand=True, regex=None)
disney = disney[disney.columns[:10].tolist() + ['duration_int', 'duration_type'] + disney.columns[10:-2].tolist()]


disney[['duration_int', 'duration_type']].head()

  duration_int duration_type
0           23           min
1           91           min
2           23           min
3           41           min
4            1        Season

In [19]:
hulu[['duration_int', 'duration_type']] = hulu['duration'].str.split(' ', n=-1, expand=True, regex=None)
hulu = hulu[hulu.columns[:10].tolist() + ['duration_int', 'duration_type'] + hulu.columns[10:-2].tolist()]

hulu[['duration_int', 'duration_type']].head()

  duration_int duration_type
0          NaN           NaN
1           94           min
2          108           min
3           97           min
4          104           min

In [20]:
netflix[['duration_int', 'duration_type']] = netflix['duration'].str.split(' ', n=-1, expand=True, regex=None)
netflix = netflix[netflix.columns[:10].tolist() + ['duration_int', 'duration_type'] + netflix.columns[10:-2].tolist()]

netflix[['duration_int', 'duration_type']].head()

  duration_int duration_type
0           90           min
1            2       Seasons
2            1        Season
3            1        Season
4            2       Seasons

cambiar formato fecha

In [21]:
amazon['date_added'] = pd.to_datetime(amazon['date_added'], infer_datetime_format=True, errors='coerce')

amazon['date_added'].head()

0   2021-03-30
1   2021-03-30
2   2021-03-30
3   2021-03-30
4   2021-03-30
Name: date_added, dtype: datetime64[ns]

In [22]:
disney['date_added'] = pd.to_datetime(disney['date_added'], infer_datetime_format=True, errors='coerce')

disney['date_added'].head()

0   2021-11-26
1   2021-11-26
2   2021-11-26
3   2021-11-26
4   2021-11-25
Name: date_added, dtype: datetime64[ns]

In [23]:
hulu['date_added'] = pd.to_datetime(hulu['date_added'], infer_datetime_format=True, errors='coerce')

hulu['date_added'].head()

0   2021-10-24
1   2021-10-23
2   2021-10-23
3   2021-10-22
4   2021-10-22
Name: date_added, dtype: datetime64[ns]

In [24]:
netflix['date_added'] = pd.to_datetime(netflix['date_added'], infer_datetime_format=True, errors='coerce')

netflix['date_added'].head()

0   2021-09-25
1   2021-09-24
2   2021-09-24
3   2021-09-24
4   2021-09-24
Name: date_added, dtype: datetime64[ns]

In [25]:
amazon['id']= amazon['id'].str.lower()
amazon['show_id']= amazon['show_id'].str.lower()
amazon['type']= amazon['type'].str.lower()
amazon['title']= amazon['title'].str.lower()
amazon['director']= amazon['director'].str.lower()
amazon['cast']= amazon['cast'].str.lower()
amazon['country']= amazon['country'].str.lower()
amazon['rating'] = amazon['rating'].str.lower()
amazon['listed_in'] = amazon['listed_in'].str.lower()
amazon['description'] = amazon['description'].str.lower()

In [26]:
amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,score,id
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,113,min,"comedy, drama",a small fishing village must procure a local d...,99,as1
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,110,min,"drama, international",a metro family decides to fight a cyber crimin...,37,as2
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,74,min,"action, drama, suspense",after a man discovers his wife is cheating on ...,20,as3
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,69,min,documentary,"pink breaks the mold once again, bringing her ...",27,as4
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,45,min,"drama, fantasy",teenage matt banting wants to work with a famo...,75,as5

In [27]:
disney['id'] = disney['id'].str.lower()
disney['type'] = disney['type'].str.lower()
disney['title'] = disney['title'].str.lower()
disney['director'] = disney['director'].str.lower()
disney['cast'] = disney['cast'].str.lower()
disney['country'] = disney['country'].str.lower()
disney['rating'] = disney['rating'].str.lower()
disney['listed_in'] = disney['listed_in'].str.lower()
disney['description'] = disney['description'].str.lower()
disney['duration_type'] = disney['duration_type'].str.lower()

In [28]:
disney.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,score,id
0,s1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",nan,2021-11-26,2016,tv-g,23 min,23,min,"animation, family",join mickey and the gang as they duck the halls!,100,ds1
1,s2,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",nan,2021-11-26,1988,pg,91 min,91,min,comedy,santa claus passes his magic bag to a new st. ...,17,ds2
2,s3,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,23 min,23,min,"animation, comedy, family",sid the sloth is on santa's naughty list.,92,ds3
3,s4,movie,the queen family singalong,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",nan,2021-11-26,2021,tv-pg,41 min,41,min,musical,"this is real life, not just fantasy!",35,ds4
4,s5,tv show,the beatles: get back,nan,"john lennon, paul mccartney, george harrison, ...",nan,2021-11-25,2021,g,1 Season,1,season,"docuseries, historical, music",a three-part documentary from peter jackson ca...,11,ds5

In [29]:
hulu['id'] = hulu['id'].str.lower()
hulu['type'] = hulu['type'].str.lower()
hulu['title'] = hulu['title'].str.lower()
hulu['director'] = hulu['director'].str.lower()
hulu['cast'] = hulu['cast'].str.lower()
hulu['country'] = hulu['country'].str.lower()
hulu['rating'] = hulu['rating'].str.lower()
hulu['listed_in'] = hulu['listed_in'].str.lower()
hulu['description'] = hulu['description'].str.lower()
hulu['duration_type'] = hulu['duration_type'].str.lower()

In [30]:
hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,score,id
0,s1,movie,ricky velez: here's everything,nan,nan,nan,2021-10-24,2021,tv-ma,NaN,NaN,NaN,"comedy, stand up",​comedian ricky velez bares it all with his ho...,48,hs1
1,s2,movie,silent night,nan,nan,nan,2021-10-23,2020,g,94 min,94,min,"crime, drama, thriller","mark, a low end south london hitman recently r...",8,hs2
2,s3,movie,the marksman,nan,nan,nan,2021-10-23,2021,pg-13,108 min,108,min,"action, thriller",a hardened arizona rancher tries to protect an...,8,hs3
3,s4,movie,gaia,nan,nan,nan,2021-10-22,2021,r,97 min,97,min,horror,a forest ranger and two survivalists with a cu...,33,hs4
4,s5,movie,settlers,nan,nan,nan,2021-10-22,2021,g,104 min,104,min,"science fiction, thriller",mankind's earliest settlers on the martian fro...,24,hs5

In [31]:
netflix['id'] = netflix['id'].str.lower()
netflix['type'] = netflix['type'].str.lower()
netflix['title'] = netflix['title'].str.lower()
netflix['director'] = netflix['director'].str.lower()
netflix['cast'] = netflix['cast'].str.lower()
netflix['country'] = netflix['country'].str.lower()
netflix['rating'] = netflix['rating'].str.lower()
netflix['listed_in'] = netflix['listed_in'].str.lower()
netflix['description'] = netflix['description'].str.lower()
netflix['duration_type'] = netflix['duration_type'].str.lower()

In [32]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,score,id
0,s1,movie,dick johnson is dead,kirsten johnson,nan,united states,2021-09-25,2020,pg-13,90 min,90,min,documentaries,"as her father nears the end of his life, filmm...",29,ns1
1,s2,tv show,blood & water,nan,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,2 Seasons,2,seasons,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t...",86,ns2
2,s3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",nan,2021-09-24,2021,tv-ma,1 Season,1,season,"crime tv shows, international tv shows, tv act...",to protect his family from a powerful drug lor...,75,ns3
3,s4,tv show,jailbirds new orleans,nan,nan,nan,2021-09-24,2021,tv-ma,1 Season,1,season,"docuseries, reality tv","feuds, flirtations and toilet talk go down amo...",49,ns4
4,s5,tv show,kota factory,nan,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,2 Seasons,2,seasons,"international tv shows, romantic tv shows, tv ...",in a city of coaching centers known to train i...,92,ns5

In [33]:
amazon['duration_type'] = amazon['duration_type'].replace("seasons", 'season')
disney['duration_type'] = disney['duration_type'].replace("seasons", 'season')
hulu['duration_type'] = hulu['duration_type'].replace("seasons", 'season')
netflix['duration_type'] = netflix['duration_type'].replace("seasons", 'season')

In [34]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,score,id
0,s1,movie,dick johnson is dead,kirsten johnson,nan,united states,2021-09-25,2020,pg-13,90 min,90,min,documentaries,"as her father nears the end of his life, filmm...",29,ns1
1,s2,tv show,blood & water,nan,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,2 Seasons,2,season,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t...",86,ns2
2,s3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",nan,2021-09-24,2021,tv-ma,1 Season,1,season,"crime tv shows, international tv shows, tv act...",to protect his family from a powerful drug lor...,75,ns3
3,s4,tv show,jailbirds new orleans,nan,nan,nan,2021-09-24,2021,tv-ma,1 Season,1,season,"docuseries, reality tv","feuds, flirtations and toilet talk go down amo...",49,ns4
4,s5,tv show,kota factory,nan,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,2 Seasons,2,season,"international tv shows, romantic tv shows, tv ...",in a city of coaching centers known to train i...,92,ns5

In [35]:

get_world_a = amazon.listed_in =='love'
get_world_a.count()

9668

Get_word_count

In [36]:

def get_word_count(plataforma, Keyword):
    if plataforma == 'amazon':
        return amazon[amazon['title'].str.contains(Keyword)].shape[0]
    elif plataforma == 'disney':
        return disney[disney['title'].str.contains(Keyword)].shape[0]
    elif plataforma == 'hulu':
        return hulu[hulu['title'].str.contains(Keyword)].shape[0]
    elif plataforma == 'netflix':
        return netflix[netflix['title'].str.contains(Keyword)].shape[0]

In [37]:
get_word_count('netflix', 'love')

196

get_score_count()

In [38]:
def get_score_count(plataforma, score, anio):
    if plataforma == 'amazon':
        df = amazon[(amazon['type'] == 'movie') & (amazon['score'] > score) & (amazon['release_year'] == anio)]
        return df.shape[0]
    elif plataforma == 'disney':
        df = disney[(disney['type'] == 'movie') & (disney['score'] > score) & (disney['release_year'] == anio)]
        return df.shape[0]
    elif plataforma == 'hulu':
        df = hulu[(hulu['type'] == 'movie') & (hulu['score'] > score) & (hulu['release_year'] == anio)]
        return df.shape[0]
    elif plataforma == 'netflix':
        df = netflix[(netflix['type'] == 'movie') & (netflix['score'] > score) & (netflix['release_year'] == anio)]
        return df.shape[0]

In [39]:
get_score_count('netflix', 85, 2010)

20

get_second_score('amazon')

In [40]:
def mayor(x):
    max = x[0]
    for n in x:
        if n > max:
            max = n
    return max

In [41]:
def get_maxduracion(plataforma, anio):
    if plataforma == 'netflix':
        pel_duracion = [(netflix['date_added'] == anio) & (netflix['duration_int'] == netflix['duration_int'].max)]
        return pel_duracion['title']

In [42]:
def get_second_score(plataforma):
    if plataforma == 'netflix':
        df_sec = netflix['score'] == max
        df_sec.sort()

In [ ]:
get_second_score('netflix')

get_longest('netflix','min',2016)

In [44]:
get_longest('netflix','min',2016)

NameError: name 'get_longest' is not defined

get_rating_count()

In [ ]:
df_g = pd.concat([amazon, disney, hulu, netflix], axis=0)

In [ ]:
def get_rating_count(rating):
    df = df_g[(df_g['rating'] == rating)]
    return df.shape[0]